/* Header/Logo Title */
app-bar {
    /* padding-left: 35px; */
    text-align: left;
    background-color:#22272c;
    color: white;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
}

app-bar img{
    width: 80px;
    height: 50px;
}

app-bar h1{
    margin-left: 5px;
    color: darkorchid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
