hero-display{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: white;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 70px;
    /* background-image: url("../static/images/background.png"); */
  
}

hero-display p{
    white-space: 10%;
    line-height: 30px;
    margin-top: 9px;
}