@import "./appbar.css";
@import "./hero.css";
@import "./information.css";
@import "./cardview.css";
@import "./informationprevention.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
    position: relative;
    background-color:#22272c;
    /* padding: 10px; */
    /* margin: 10px auto; */
}

main {
    max-width: 1124px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 10px;
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


